@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500;1,700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  max-height: 100vw;
  overflow-x: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#141414), color-stop(16.29%, #060606), color-stop(66.54%, #000000));
  background: linear-gradient(90deg, #141414 0%, #060606 16.29%, #000000 66.54%);
}

@media screen and (max-width: 768px) {
  body {
    background: #000;
  }
}

.mainContainer {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .mainContainer .nav-mobile {
    display: none;
  }
}

.mainContainer .logo {
  height: 60px;
}

@media screen and (max-width: 768px) {
  .mainContainer .logo {
    position: absolute;
    height: 40px;
    top: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.mainContainer .surf {
  position: absolute;
  right: 10%;
  top: 50%;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}

.mainContainer .surf .surfVector {
  width: 100px;
  height: 100px;
}

.mainContainer .surf .surfVector .board {
  -webkit-box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.18);
}

@media screen and (max-width: 768px) {
  .mainContainer .surf {
    left: 50%;
    top: 85%;
  }
  .mainContainer .surf .surfVector {
    width: 60px;
    height: 60px;
  }
}

.mainContainer .link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.mainContainer .link path {
  fill: #fff;
}

.mainContainer .link:hover path {
  fill: #0063FF;
}

.mainContainer .aboutLink .rightArrow {
  -webkit-animation-name: rightArrowOnReleaseHover;
          animation-name: rightArrowOnReleaseHover;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.mainContainer .aboutLink:hover .rightArrow {
  -webkit-animation-name: rightArrowOnHover;
          animation-name: rightArrowOnHover;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes rightArrowOnHover {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes rightArrowOnHover {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@-webkit-keyframes rightArrowOnReleaseHover {
  from {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes rightArrowOnReleaseHover {
  from {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.mainContainer .textContainer {
  max-width: 60%;
  position: absolute;
  top: 15%;
}

@media screen and (max-width: 768px) {
  .mainContainer .textContainer {
    max-width: 100%;
  }
}

.mainContainer .textContainer .name-intro {
  color: #0063FF;
}

.mainContainer .textContainer .ruler {
  background-color: #0063FF;
  width: 30px;
  height: 0.1px;
}

@media screen and (max-width: 1024px) {
  .mainContainer .textContainer .ruler {
    width: 15px;
  }
}

.mainContainer .textContainer h1 {
  margin-top: 5%;
  text-transform: capitalize;
  line-height: 4rem;
}

@media screen and (max-width: 768px) {
  .mainContainer .textContainer h1 {
    line-height: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .mainContainer .textContainer h1 br {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .mainContainer .textContainer h2 br {
    display: none;
  }
}

.mainContainer .email {
  position: absolute;
  top: 100vh;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  cursor: text;
}

@media screen and (max-width: 768px) {
  .mainContainer .email {
    top: 75vh;
  }
}

.mainContainer .email input {
  pointer-events: none;
  background: none;
  font-size: 16px;
  width: 250px;
  outline: none;
}

.mainContainer .email::after {
  position: absolute;
  top: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  width: 100%;
  height: 100%;
  content: 'Click to Copy!';
  pointer-events: none;
  background: rgba(0, 99, 255, 0.8);
}

@media screen and (max-width: 768px) {
  .mainContainer .email::after {
    display: none;
  }
}

.mainContainer .email:hover::after {
  -webkit-animation-name: emailOverlay;
          animation-name: emailOverlay;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes emailOverlay {
  from {
    top: 100%;
  }
  to {
    top: 0%;
  }
}

@keyframes emailOverlay {
  from {
    top: 100%;
  }
  to {
    top: 0%;
  }
}

.mainContainer .wavesContainer .waveBottom {
  position: absolute;
  top: 0%;
  right: -45%;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  z-index: -1;
}

.mainContainer .wavesContainer .waveMiddle {
  position: absolute;
  top: 0%;
  right: -47%;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  z-index: -1;
}

.mainContainer .wavesContainer .waveTop {
  position: absolute;
  top: 0%;
  right: -50%;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  z-index: -1;
}

@media screen and (min-width: 1300px) {
  .mainContainer .wavesContainer .waveBottom {
    right: -50%;
  }
  .mainContainer .wavesContainer .waveMiddle {
    right: -52%;
  }
  .mainContainer .wavesContainer .waveTop {
    right: -55%;
  }
}

@media screen and (max-width: 768px) {
  .mainContainer .wavesContainer .waveBottom {
    position: absolute;
    top: 70%;
    left: 0%;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    z-index: -1;
  }
  .mainContainer .wavesContainer .waveMiddle {
    position: absolute;
    top: 75%;
    left: 0;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    z-index: -1;
  }
  .mainContainer .wavesContainer .waveTop {
    position: absolute;
    top: 80%;
    left: 0;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    z-index: -1;
  }
}

.sphereScreenContainer {
  height: 100vh;
  position: relative;
}

.sphereScreenContainer .sphereContent {
  position: absolute;
  right: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #0063FF;
}

@media screen and (max-width: 768px) {
  .sphereScreenContainer .sphereContent {
    top: 20%;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

.workContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.workContainer figure {
  margin-right: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  width: 320px;
  margin-bottom: 40px;
  height: 160px;
}

.workContainer figure img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.workContainer figure figcaption {
  position: absolute;
  width: 100%;
  top: 0;
  font-size: 18px;
  left: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  height: 160px;
  background: rgba(20, 28, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workContainer figure figcaption button {
  border: 2px solid #0063FF;
  border-radius: 2rem;
  padding: 6px 20px;
  padding-right: 0;
  margin-top: 20px;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.workContainer figure figcaption button svg {
  width: 50px;
  margin-left: -10px;
}

.workContainer figure figcaption button:hover {
  background: #0063FF;
}

.workContainer figure:hover figcaption {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
/*# sourceMappingURL=index.css.map */