@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500;1,700&display=swap');

$blue: #0063FF;
$black: #000;
$white: #fff;
$mobile: 768px;
$tablet: 1024px;
$lowResLaptopWidth: 1300px;
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,1); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
}
 
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,1); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
}
body {
    font-family: 'Poppins', sans-serif;
    color:$white;
    max-height: 100vw;
    overflow-x: hidden;
    background: linear-gradient(90deg, #141414 0%, #060606 16.29%, #000000 66.54%);
    @media screen and (max-width: $mobile) {
        background: $black;
    }
}
.lang-selector{
    position: fixed;
    bottom: 10px;
    right: 2%;
    z-index: 10;
    display: flex;
    align-items: center;
    @media screen and (max-width: $mobile) {
        bottom: 96%;
        top: 10px;
        #language {
            font-size: 10px;
        }
    }
    .switch {
        margin-left:10px;
        position: relative;
        display: inline-block;
        width: 30px;
        height: 17px;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: rgb(70, 70, 70);
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px rgb(70, 70, 70);
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(13px);
        -ms-transform: translateX(13px);
        transform: translateX(13px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 17px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
}
.mainContainer{
    height: 100vh;
    overflow: hidden;
    position: relative;
    @media screen and (max-width: $tablet) {
        .nav-mobile{
            display: none;
        }
    }
    .logo {
        height: 60px;
        @media screen and (max-width: $mobile) {
                // display: none;
                position: absolute;
                height: 40px;
                top:40px;
                left: 50%;
                transform: translateX(-50%);
        }
    }
    .surf {
        position: absolute;
        right:10%;
        top:50%;
        transform: translateY(-30%);
        .surfVector{
            width: 100px;
            height: 100px;
            .board {
                box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.18);
            }
        }
    }
     @media screen and (max-width: $mobile) {
         .surf {
            left:50%;
            top:85%;
            .surfVector{
                width: 60px;
                height: 60px;
            }
        }
    }
   
    .link:hover {
        transform: scale(1.1);
    }
    .link path {
        fill: $white;
    }
    .link:hover path {
        fill: $blue;
    }
    .aboutLink{
        .rightArrow {
            animation-name: rightArrowOnReleaseHover;
            animation-duration: 0.2s;
            animation-timing-function: linear;
            animation-fill-mode: both;
        }
    }
    .aboutLink:hover {
        .rightArrow {
            animation-name: rightArrowOnHover;
            animation-duration: 0.2s;
            animation-timing-function: linear;
            animation-fill-mode: both;
        }
    }
    @keyframes rightArrowOnHover {
        from {transform: translateX(0px);}
        to {transform: translateX(10px);}
    }
    @keyframes rightArrowOnReleaseHover {
        from {transform: translateX(10px);}
        to {transform: translateX(0px);}
    }
    .textContainer {
        max-width: 60%;
        @media screen and (max-width: 768px) {
            max-width: 100%;
        }
        position: absolute;
        top: 15%;
        .name-intro {
            color: $blue;
        }
        .ruler {
            background-color: $blue;
            width: 30px;
            @media screen and (max-width: $tablet) {
                width: 15px;
            }
            height: 0.1px;
        }
        h1 {
            margin-top:5%;
            text-transform: capitalize;
            line-height: 4rem;
            @media screen and (max-width: $mobile) {
                line-height: 2rem;
            }
            br {
                @media screen and (min-width: $mobile) {
                    display: none;
                }
            }
        }
        h2 {
            br {
                @media screen and (max-width: $tablet) {
                    display: none;
                }
            }
        }
    }
    .email {
        position: absolute;
        top:100vh;
        left:50%;
        transform: translate(-50%,-100%);
        cursor: text;
        @media screen and (max-width: $mobile) {
            top:75vh;
        }
        input {
            pointer-events: none;
            background: none;
            font-size: 16px;
            width:250px;
            outline: none;
        }
        &::after {
            @media screen and (max-width: $mobile) {
                display: none;
            }
            position: absolute;
            top:100%;
            display: flex;
            justify-content: center;
            align-items: center;
            left:0;
            width: 100%;
            height: 100%;
            content: 'Click to Copy!';
            pointer-events: none;
            background: rgba($color: $blue, $alpha: 0.8);
        }
        
    }
    .email:hover {
        &::after {
            animation-name: emailOverlay;
            animation-duration: 0.2s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;
        }
    }
    @keyframes emailOverlay {
        from {top: 100%;}
        to {top: 0%;}
    }
    .wavesContainer {
        .waveBottom {
            position: absolute;
            top:0%;
            right:-45%;
            transform: rotateZ(-90deg) ;
            z-index: -1;
        }
        .waveMiddle {
            position: absolute;
            top:0%;
            right:-47%;
            transform:  rotateZ(-90deg);
            z-index: -1;
        }
        .waveTop {
            position: absolute;
            top:0%;
            right:-50%;
            transform:  rotateZ(-90deg);
            z-index: -1;
        }
        @media screen and (min-width: $lowResLaptopWidth) {
            .waveBottom {
                right:-50%;
            }
            .waveMiddle {
                right:-52%;
            }
            .waveTop {
                right:-55%;
            }
        }
        @media screen and (max-width: $mobile) {
            .waveBottom {
                position: absolute;
                top:70%;
                left:0%;
                transform: rotateZ(0deg) ;
                z-index: -1;
            }
            .waveMiddle {
                position: absolute;
                top:75%;
                left: 0;
                transform:  rotateZ(0deg);
                z-index: -1;
            }
            .waveTop {
                position: absolute;
                top:80%;
                left:0;
                transform:  rotateZ(0deg);
                z-index: -1;
            }
        }
    }
}

.sphereScreenContainer {
    position: relative;
    .sphereContent{
        position: absolute;
        right: 10%;
        top:50%;
        transform: translateY(-50%);
        color: $blue;
        @media screen and (max-width: $mobile) {
            top:20%;
            right:50%;
            transform: translateX(50%);
        }
    }
  
}
.responsive-column{
   
    @media screen and (max-width: $mobile) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.workContainer {

    .swiper-container {
        width: 100%;
        padding-top: 80px;
        height: 80vh;
        margin-left: 0;
        margin-right: 0;
        @media screen and (max-width: $mobile) {
            padding-top: 0;
            height: 100%;
        }
    }
    figure {
        margin-right: 40px;
        position: relative;
        overflow: hidden;
        border-radius: 12px;
        width: 160px !important;
        margin-top: 30px;
        height: 160px !important;
        &::after{
            position: absolute;
            content: '';
            bottom:0px;
            z-index: 19;
            width: 100px;
            height: 2px;
            border-radius: 2px;
            background: $blue;
            left: 50%;
            transform: translateX(-50%);
        }
        img {
            border-radius: 12px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        figcaption {
            position: absolute;
            width: 100%;
            top:0;
            font-size: 18px;
            left:0;
            transform: translateY(200px);
            height: 160px;
            background: rgba($color:#141c3a, $alpha: 0.8);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .card-code-font-size{
                font-size: 10px;
                font-weight: 300;
            }
            button {
                border: 2px solid $blue;
                border-radius: 2rem;
                padding: 3px 10px;
                padding-right: 0;
                margin-top: 20px;
                outline: none;
                display: flex;
                align-items: center;
                font-size: 10px;
                svg {
                    width: 20px;
                    // margin-left: -10px;
                }
                &:hover {
                    background: $blue;
                }
            }
        }
        &:hover {
            &::after{
                display: none;
            }
            figcaption {
                transform: translateY(0px);
                transition: transform 0.5s ease-in-out;
            }
        }
    }
}
.blueRuler {
    width: 64px;
    height: 6px;
    border-radius: 10px;
    background: $blue;
    margin: 4rem 0;
    @media screen and (max-width: $mobile) {
        margin: 1rem 0;
    }
}
.listStyleGrid {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin: 3rem 0;
}

.listStyleItem {
    max-width: 320px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.timeLineUL:first-of-type {
    margin-left: 0px;
}

.timeLineUL {
    background: #0F1624;
    padding: 0rem;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 32px;
    margin-bottom: 80px;
    -webkit-scrollbar-width: none;
    -moz-scrollbar-width: none;
    -ms-scrollbar-width: none;
    scrollbar-width: none;
    @media screen and (max-width: $mobile) {
        flex-direction: column;
        .text {
            margin-bottom: 20px;
        }
    }
}

.timeLineUL .background {
    background: #0F1624;
    // background: $blue;
    height: 100%;
    border-radius: 3px;
    max-width: 196px;
}

.timeLineUL .heading {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    -webkit-letter-spacing: 0.02em;
    -moz-letter-spacing: 0.02em;
    -ms-letter-spacing: 0.02em;
    letter-spacing: 0.02em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: linear-gradient(
121.57deg
,#FFFFFF 10%,rgba(255,255,255,0.66) 30.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 8px;
}

.timeLineUL .text {
    font-size: 14px;
    line-height: 22px;
    -webkit-letter-spacing: 0.02em;
    -moz-letter-spacing: 0.02em;
    -ms-letter-spacing: 0.02em;
    letter-spacing: 0.02em;
    color: rgba(255,255,255,0.75);
    padding-right: 16px;
}





.footer .section1 {
    border-top: 1px solid rgba(255,255,255,0.1);
    display: grid;
    grid-template-columns: repeat(3,minmax(85px,220px));
    gap: 40px;
    padding: 40px 0 28px;
    @media screen and (max-width: $mobile) {
       display: initial;
    }
}

.footer .section1 .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 220px;
    width: 100%;
}

.footer .title {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.4);
    margin-bottom: 16px;
}

.bottomRow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    @media screen and (max-width: $mobile) {
        margin-top: 20px;    
        flex-direction: column;
    }
}

.flexRow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: baseline;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: auto;
}

.footer .bottomRow .flexRow .content {
    color: rgba(255,255,255,0.5);
    min-width: 280px;
    -webkit-letter-spacing: 0.02em;
    -moz-letter-spacing: 0.02em;
    -ms-letter-spacing: 0.02em;
    letter-spacing: 0.02em;
    font-size: 18px;
    line-height: 30px;
}

.footer .iconRow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer .icon {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    color: white;
    border-radius: 50px;
    padding: 8px;
}