@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500;1,700&display=swap");
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px black;
  -webkit-box-shadow: inset 0 0 6px black;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px black;
  -webkit-box-shadow: inset 0 0 6px black;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  max-height: 100vw;
  overflow-x: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#141414), color-stop(16.29%, #060606), color-stop(66.54%, #000000));
  background: linear-gradient(90deg, #141414 0%, #060606 16.29%, #000000 66.54%);
}

@media screen and (max-width: 768px) {
  body {
    background: #000;
  }
}

.lang-selector {
  position: fixed;
  bottom: 10px;
  right: 2%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Rounded sliders */
}

@media screen and (max-width: 768px) {
  .lang-selector {
    bottom: 96%;
    top: 10px;
  }
  .lang-selector #language {
    font-size: 10px;
  }
}

.lang-selector .switch {
  margin-left: 10px;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.lang-selector .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.lang-selector .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.lang-selector .slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.lang-selector input:checked + .slider {
  background-color: #464646;
}

.lang-selector input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #464646;
          box-shadow: 0 0 1px #464646;
}

.lang-selector input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  transform: translateX(13px);
}

.lang-selector .slider.round {
  border-radius: 17px;
}

.lang-selector .slider.round:before {
  border-radius: 50%;
}

.mainContainer {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .mainContainer .nav-mobile {
    display: none;
  }
}

.mainContainer .logo {
  height: 60px;
}

@media screen and (max-width: 768px) {
  .mainContainer .logo {
    position: absolute;
    height: 40px;
    top: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.mainContainer .surf {
  position: absolute;
  right: 10%;
  top: 50%;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}

.mainContainer .surf .surfVector {
  width: 100px;
  height: 100px;
}

.mainContainer .surf .surfVector .board {
  -webkit-box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.18);
}

@media screen and (max-width: 768px) {
  .mainContainer .surf {
    left: 50%;
    top: 85%;
  }
  .mainContainer .surf .surfVector {
    width: 60px;
    height: 60px;
  }
}

.mainContainer .link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.mainContainer .link path {
  fill: #fff;
}

.mainContainer .link:hover path {
  fill: #0063FF;
}

.mainContainer .aboutLink .rightArrow {
  -webkit-animation-name: rightArrowOnReleaseHover;
          animation-name: rightArrowOnReleaseHover;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.mainContainer .aboutLink:hover .rightArrow {
  -webkit-animation-name: rightArrowOnHover;
          animation-name: rightArrowOnHover;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes rightArrowOnHover {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes rightArrowOnHover {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@-webkit-keyframes rightArrowOnReleaseHover {
  from {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes rightArrowOnReleaseHover {
  from {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.mainContainer .textContainer {
  max-width: 60%;
  position: absolute;
  top: 15%;
}

@media screen and (max-width: 768px) {
  .mainContainer .textContainer {
    max-width: 100%;
  }
}

.mainContainer .textContainer .name-intro {
  color: #0063FF;
}

.mainContainer .textContainer .ruler {
  background-color: #0063FF;
  width: 30px;
  height: 0.1px;
}

@media screen and (max-width: 1024px) {
  .mainContainer .textContainer .ruler {
    width: 15px;
  }
}

.mainContainer .textContainer h1 {
  margin-top: 5%;
  text-transform: capitalize;
  line-height: 4rem;
}

@media screen and (max-width: 768px) {
  .mainContainer .textContainer h1 {
    line-height: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .mainContainer .textContainer h1 br {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .mainContainer .textContainer h2 br {
    display: none;
  }
}

.mainContainer .email {
  position: absolute;
  top: 100vh;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  cursor: text;
}

@media screen and (max-width: 768px) {
  .mainContainer .email {
    top: 75vh;
  }
}

.mainContainer .email input {
  pointer-events: none;
  background: none;
  font-size: 16px;
  width: 250px;
  outline: none;
}

.mainContainer .email::after {
  position: absolute;
  top: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  width: 100%;
  height: 100%;
  content: 'Click to Copy!';
  pointer-events: none;
  background: rgba(0, 99, 255, 0.8);
}

@media screen and (max-width: 768px) {
  .mainContainer .email::after {
    display: none;
  }
}

.mainContainer .email:hover::after {
  -webkit-animation-name: emailOverlay;
          animation-name: emailOverlay;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes emailOverlay {
  from {
    top: 100%;
  }
  to {
    top: 0%;
  }
}

@keyframes emailOverlay {
  from {
    top: 100%;
  }
  to {
    top: 0%;
  }
}

.mainContainer .wavesContainer .waveBottom {
  position: absolute;
  top: 0%;
  right: -45%;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  z-index: -1;
}

.mainContainer .wavesContainer .waveMiddle {
  position: absolute;
  top: 0%;
  right: -47%;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  z-index: -1;
}

.mainContainer .wavesContainer .waveTop {
  position: absolute;
  top: 0%;
  right: -50%;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  z-index: -1;
}

@media screen and (min-width: 1300px) {
  .mainContainer .wavesContainer .waveBottom {
    right: -50%;
  }
  .mainContainer .wavesContainer .waveMiddle {
    right: -52%;
  }
  .mainContainer .wavesContainer .waveTop {
    right: -55%;
  }
}

@media screen and (max-width: 768px) {
  .mainContainer .wavesContainer .waveBottom {
    position: absolute;
    top: 70%;
    left: 0%;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    z-index: -1;
  }
  .mainContainer .wavesContainer .waveMiddle {
    position: absolute;
    top: 75%;
    left: 0;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    z-index: -1;
  }
  .mainContainer .wavesContainer .waveTop {
    position: absolute;
    top: 80%;
    left: 0;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    z-index: -1;
  }
}

.sphereScreenContainer {
  position: relative;
}

.sphereScreenContainer .sphereContent {
  position: absolute;
  right: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #0063FF;
}

@media screen and (max-width: 768px) {
  .sphereScreenContainer .sphereContent {
    top: 20%;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@media screen and (max-width: 768px) {
  .responsive-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.workContainer .swiper-container {
  width: 100%;
  padding-top: 80px;
  height: 80vh;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .workContainer .swiper-container {
    padding-top: 0;
    height: 100%;
  }
}

.workContainer figure {
  margin-right: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  width: 160px !important;
  margin-top: 30px;
  height: 160px !important;
}

.workContainer figure::after {
  position: absolute;
  content: '';
  bottom: 0px;
  z-index: 19;
  width: 100px;
  height: 2px;
  border-radius: 2px;
  background: #0063FF;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.workContainer figure img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.workContainer figure figcaption {
  position: absolute;
  width: 100%;
  top: 0;
  font-size: 18px;
  left: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  height: 160px;
  background: rgba(20, 28, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workContainer figure figcaption .card-code-font-size {
  font-size: 10px;
  font-weight: 300;
}

.workContainer figure figcaption button {
  border: 2px solid #0063FF;
  border-radius: 2rem;
  padding: 3px 10px;
  padding-right: 0;
  margin-top: 20px;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
}

.workContainer figure figcaption button svg {
  width: 20px;
}

.workContainer figure figcaption button:hover {
  background: #0063FF;
}

.workContainer figure:hover::after {
  display: none;
}

.workContainer figure:hover figcaption {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.blueRuler {
  width: 64px;
  height: 6px;
  border-radius: 10px;
  background: #0063FF;
  margin: 4rem 0;
}

@media screen and (max-width: 768px) {
  .blueRuler {
    margin: 1rem 0;
  }
}

.listStyleGrid {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 3rem 0;
}

.listStyleItem {
  max-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.timeLineUL:first-of-type {
  margin-left: 0px;
}

.timeLineUL {
  background: #0F1624;
  padding: 0rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 32px;
  margin-bottom: 80px;
  -webkit-scrollbar-width: none;
  -moz-scrollbar-width: none;
  -ms-scrollbar-width: none;
  scrollbar-width: none;
}

@media screen and (max-width: 768px) {
  .timeLineUL {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .timeLineUL .text {
    margin-bottom: 20px;
  }
}

.timeLineUL .background {
  background: #0F1624;
  height: 100%;
  border-radius: 3px;
  max-width: 196px;
}

.timeLineUL .heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  -webkit-letter-spacing: 0.02em;
  -moz-letter-spacing: 0.02em;
  -ms-letter-spacing: 0.02em;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(121.57deg, #FFFFFF 10%, rgba(255, 255, 255, 0.66) 30.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 8px;
}

.timeLineUL .text {
  font-size: 14px;
  line-height: 22px;
  -webkit-letter-spacing: 0.02em;
  -moz-letter-spacing: 0.02em;
  -ms-letter-spacing: 0.02em;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.75);
  padding-right: 16px;
}

.footer .section1 {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(85px, 220px))[3];
      grid-template-columns: repeat(3, minmax(85px, 220px));
  gap: 40px;
  padding: 40px 0 28px;
}

@media screen and (max-width: 768px) {
  .footer .section1 {
    display: initial;
  }
}

.footer .section1 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  max-width: 220px;
  width: 100%;
}

.footer .title {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 16px;
}

.bottomRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .bottomRow {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flexRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: auto;
}

.footer .bottomRow .flexRow .content {
  color: rgba(255, 255, 255, 0.5);
  min-width: 280px;
  -webkit-letter-spacing: 0.02em;
  -moz-letter-spacing: 0.02em;
  -ms-letter-spacing: 0.02em;
  letter-spacing: 0.02em;
  font-size: 18px;
  line-height: 30px;
}

.footer .iconRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .icon {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: white;
  border-radius: 50px;
  padding: 8px;
}
/*# sourceMappingURL=index.css.map */