@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500;1,700&display=swap');

$blue: #0063FF;
$black: #000;
$white: #fff;
$mobile: 768px;
$tablet: 1024px;
$lowResLaptopWidth: 1300px;
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 2px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
}
body {
    font-family: 'Poppins', sans-serif;
    color:$white;
    max-height: 100vw;
    overflow-x: hidden;
    background: linear-gradient(90deg, #141414 0%, #060606 16.29%, #000000 66.54%);
    @media screen and (max-width: $mobile) {
        background: $black;
    }
}
.mainContainer{
    height: 100vh;
    overflow: hidden;
    position: relative;
    @media screen and (max-width: $tablet) {
        .nav-mobile{
            display: none;
        }
    }
    .logo {
        height: 60px;
        @media screen and (max-width: $mobile) {
                // display: none;
                position: absolute;
                height: 40px;
                top:40px;
                left: 50%;
                transform: translateX(-50%);
        }
    }
    .surf {
        position: absolute;
        right:10%;
        top:50%;
        transform: translateY(-30%);
        .surfVector{
            width: 100px;
            height: 100px;
            .board {
                box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.18);
            }
        }
    }
     @media screen and (max-width: $mobile) {
         .surf {
            left:50%;
            top:85%;
            .surfVector{
                width: 60px;
                height: 60px;
            }
        }
    }
   
    .link:hover {
        transform: scale(1.1);
    }
    .link path {
        fill: $white;
    }
    .link:hover path {
        fill: $blue;
    }
    .aboutLink{
        .rightArrow {
            animation-name: rightArrowOnReleaseHover;
            animation-duration: 0.2s;
            animation-timing-function: linear;
            animation-fill-mode: both;
        }
    }
    .aboutLink:hover {
        .rightArrow {
            animation-name: rightArrowOnHover;
            animation-duration: 0.2s;
            animation-timing-function: linear;
            animation-fill-mode: both;
        }
    }
    @keyframes rightArrowOnHover {
        from {transform: translateX(0px);}
        to {transform: translateX(10px);}
    }
    @keyframes rightArrowOnReleaseHover {
        from {transform: translateX(10px);}
        to {transform: translateX(0px);}
    }
    .textContainer {
        max-width: 60%;
        @media screen and (max-width: 768px) {
            max-width: 100%;
        }
        position: absolute;
        top: 15%;
        .name-intro {
            color: $blue;
        }
        .ruler {
            background-color: $blue;
            width: 30px;
            @media screen and (max-width: $tablet) {
                width: 15px;
            }
            height: 0.1px;
        }
        h1 {
            margin-top:5%;
            text-transform: capitalize;
            line-height: 4rem;
            @media screen and (max-width: $mobile) {
                line-height: 2rem;
            }
            br {
                @media screen and (min-width: $mobile) {
                    display: none;
                }
            }
        }
        h2 {
            br {
                @media screen and (max-width: $tablet) {
                    display: none;
                }
            }
        }
    }
    .email {
        position: absolute;
        top:100vh;
        left:50%;
        transform: translate(-50%,-100%);
        cursor: text;
        @media screen and (max-width: $mobile) {
            top:75vh;
        }
        input {
            pointer-events: none;
            background: none;
            font-size: 16px;
            width:250px;
            outline: none;
        }
        &::after {
            @media screen and (max-width: $mobile) {
                display: none;
            }
            position: absolute;
            top:100%;
            display: flex;
            justify-content: center;
            align-items: center;
            left:0;
            width: 100%;
            height: 100%;
            content: 'Click to Copy!';
            pointer-events: none;
            background: rgba($color: $blue, $alpha: 0.8);
        }
        
    }
    .email:hover {
        &::after {
            animation-name: emailOverlay;
            animation-duration: 0.2s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;
        }
    }
    @keyframes emailOverlay {
        from {top: 100%;}
        to {top: 0%;}
    }
    .wavesContainer {
        .waveBottom {
            position: absolute;
            top:0%;
            right:-45%;
            transform: rotateZ(-90deg) ;
            z-index: -1;
        }
        .waveMiddle {
            position: absolute;
            top:0%;
            right:-47%;
            transform:  rotateZ(-90deg);
            z-index: -1;
        }
        .waveTop {
            position: absolute;
            top:0%;
            right:-50%;
            transform:  rotateZ(-90deg);
            z-index: -1;
        }
        @media screen and (min-width: $lowResLaptopWidth) {
            .waveBottom {
                right:-50%;
            }
            .waveMiddle {
                right:-52%;
            }
            .waveTop {
                right:-55%;
            }
        }
        @media screen and (max-width: $mobile) {
            .waveBottom {
                position: absolute;
                top:70%;
                left:0%;
                transform: rotateZ(0deg) ;
                z-index: -1;
            }
            .waveMiddle {
                position: absolute;
                top:75%;
                left: 0;
                transform:  rotateZ(0deg);
                z-index: -1;
            }
            .waveTop {
                position: absolute;
                top:80%;
                left:0;
                transform:  rotateZ(0deg);
                z-index: -1;
            }
        }
    }
}

.sphereScreenContainer {
    height: 100vh;
    position: relative;
    .sphereContent{
        position: absolute;
        right: 10%;
        top:50%;
        transform: translateY(-50%);
        color: $blue;
        @media screen and (max-width: $mobile) {
            top:20%;
            right:50%;
            transform: translateX(50%);
        }
    }
  
}

.workContainer {
    display: flex;
    flex-wrap: wrap;
    figure {
        margin-right: 40px;
        position: relative;
        overflow: hidden;
        border-radius: 12px;
        width: 320px;
        margin-bottom: 40px;
        height: 160px;
        img {
            border-radius: 12px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        figcaption {
            position: absolute;
            width: 100%;
            top:0;
            font-size: 18px;
            left:0;
            transform: translateY(200px);
            height: 160px;
            background: rgba($color:#141c3a, $alpha: 0.8);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            button {
                border: 2px solid $blue;
                border-radius: 2rem;
                padding: 6px 20px;
                padding-right: 0;
                margin-top: 20px;
                outline: none;
                display: flex;
                align-items: center;
                font-size: 16px;
                svg {
                    width: 50px;
                    margin-left: -10px;
                }
                &:hover {
                    background: $blue;
                }
            }
        }
        &:hover {
            figcaption {
                transform: translateY(0px);
                transition: transform 0.5s ease-in-out;
            }
        }
    }
}